# turbo
.turbo/

# dependencies
node_modules/

# build
.next/
dist/

# build
.next
dist

# misc
.DS_Store

./apps/cs/**/*
./apps/wr/**/*
./apps/sn/**/*
apps/wr/.next/**/*
apps/fo/.next/**/*

# env
.env*
