@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0a0a0a;
    --card: #ffffff;
    --card-foreground: #0a0a0a;
    --popover: #ffffff;
    --popover-foreground: #0a0a0a;
    --primary: #2094fa;
    --primary-foreground: #fafafa;
    --secondary: #f5f5f5;
    --secondary-foreground: #0f1e33;
    --muted: #f5f5f5;
    --muted-foreground: #737373;
    --accent: #f5f5f5;
    --accent-foreground: #0f1e33;
    --destructive: #ff4141;
    --destructive-foreground: #fafafa;
    --border: #e5e5e5;
    --input: #e5e5e5;
    --label: #666666;
    --placeholder: #a2a2a2;
    --ring: #0a0a0a;
    --chart-1: #2094fa;
    --chart-2: #00dfe5;
    --chart-3: #02e587;
    --chart-4: #ffd841;
    --chart-5: #ff7865;
    --chart-6: #e65db5;
    --radius: 1rem;
  }
  [data-mode="dark"] {
    --background: #0a0a0a;
    --foreground: #fafafa;
    --card: #0a0a0a;
    --card-foreground: #fafafa;
    --popover: #0a0a0a;
    --popover-foreground: #fafafa;
    --primary: #2094fa;
    --primary-foreground: #171717;
    --secondary: #262626;
    --secondary-foreground: #fafafa;
    --muted: #262626;
    --muted-foreground: #a2a2a2;
    --accent: #262626;
    --accent-foreground: #fafafa;
    --destructive: #b22222;
    --destructive-foreground: #fafafa;
    --border: #262626;
    --input: #262626;
    --label: #f1f1f1;
    --placeholder: #737373;
    --ring: #d4d4d4;
    --chart-1: #66b3ff;
    --chart-2: #66f0f2;
    --chart-3: #66f9b8;
    --chart-4: #ffeb99;
    --chart-5: #ffbcad;
    --chart-6: #f4a0d3;
    --radius: 1rem;
  }
}
